<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Spice to Sugar</title>
</head>
<body>
    <div class="grid-container">
        <div id="membership">
            <h4 id='demo' style='opacity: 1'>Avail Lifetime Free Shipping <a href="signin.html">Join Now</a></h4>
        </div>
        <header class="row">
           <div>
               <a class="brand" href="index.html">Spice to Sugar</a>
           </div>
           <div>
               <a href="cart.html">Cart</a>
               <a href="signin.html">Sign In</a>
           </div>
        </header>
        <main>
           <div class="row center">
               <div class="card">
                   <a href = " product.html">
                    <img class="medium" src = "./images/1.jpeg" alt="product"/></a>
                   <div class="card-body">
                       <a href = "product.html">
                           <h2>Masalas</h2>
                           </a>
                        <div class="rating">
                            <span>
                            <i class="fa fa-star"></i>
                            </span> 
                            <span><i class="fa fa-star"></i>
                            </span> 
                            <span>
                            <i class="fa fa-star"></i>
                            </span> 
                            <span></span><i class="fa fa-star"></i></span>         
                   </div><div class="price">120$</div>
               </div>
               </div>
               <div class="card">
                <a href = " product.html">
                 <img class="medium" src = "./images/1.jpeg" alt="product"/></a>
                <div class="card-body">
                    <a href = "product.html">
                        <h2>Masalas</h2>
                        </a>
                     <div class="rating">
                         <span>
                         <i class="fa fa-star"></i>
                         </span> 
                         <span><i class="fa fa-star"></i>
                         </span> 
                         <span>
                         <i class="fa fa-star"></i>
                         </span> 
                         <span></span><i class="fa fa-star"></i></span>         
                </div><div class="price">120$</div>
            </div>
            </div>
            <div class="card">
                <a href = " product.html">
                 <img class="medium" src = "./images/1.jpeg" alt="product"/></a>
                <div class="card-body">
                    <a href = "product.html">
                        <h2>Masalas</h2>
                        </a>
                     <div class="rating">
                         <span>
                         <i class="fa fa-star"></i>
                         </span> 
                         <span><i class="fa fa-star"></i>
                         </span> 
                         <span>
                         <i class="fa fa-star"></i>
                         </span> 
                         <span></span><i class="fa fa-star"></i></span>         
                </div><div class="price">120$</div>
            </div>
            </div>
            <div class="card">
                <a href = " product.html">
                 <img class="medium" src = "./images/1.jpeg" alt="product"/></a>
                <div class="card-body">
                    <a href = "product.html">
                        <h2>Masalas</h2>
                        </a>
                     <div class="rating">
                         <span>
                         <i class="fa fa-star"></i>
                         </span> 
                         <span><i class="fa fa-star"></i>
                         </span> 
                         <span>
                         <i class="fa fa-star"></i>
                         </span> 
                          <span>
                         <i class="fa fa-star"></i>
                         </span>
                         <span></span><i class="fa fa-star-o"></i></span>         
                </div><div class="price">120$</div>
            </div>
            </div>
            <div class="card">
                <a href = " product.html">
                 <img class="medium" src = "./images/1.jpeg" alt="product"/></a>
                <div class="card-body">
                    <a href = "product.html">
                        <h2>Masalas</h2>
                        </a>
                     <div class="rating">
                         <span>
                         <i class="fa fa-star"></i>
                         </span> 
                         <span><i class="fa fa-star"></i>
                         </span> 
                         <span>
                         <i class="fa fa-star"></i>
                         </span> 
                         <span><i class="fa fa-star-o"></i></span>         
                </div><div class="price">120$</div>
            </div>
            </div>

        </main>
        <footer class="row center">
            All Rights reserved
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
function toggleText() {
  var text = document.getElementById("demo");
  if (text.style.opacity === "1") {
    text.style.display = "block";
    text.style.opacity = 0.2;
    text.style.transition = 400;
  } else {
    // text.style.display = "none";
    text.style.opacity = 1;
  }
}
setInterval(() => {
    toggleText()
}, 300);  
    
</script>

</body>

</html>